:root {
    --tpp-orange:rgb(248, 150, 31);
    --tpp-red:rgb(239, 65, 54);
    --tpp-purple:rgb(70, 83, 130);
    --tpp-black:rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.page {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    height: 20vh;
}

.header-logo-container {
    grid-column: span 4;
}

.logo {
    width: 100%;
    height: 15%;
    object-fit: cover; 
    object-position: 0 50%;
    overflow: hidden;
}

.line-container {
    grid-column: span 1;
}

.header-line {
    margin-top: 20px;
    width: 50px;
    left: 390px;
    border: 1px solid var(--tpp-purple);
    transform: rotate(90deg);
}

.page-title {
    padding-top: 3px;
    grid-column: span 10;
    color: var(--tpp-orange);
    font-weight: lighter;
    font-size: 20pt;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.progress-marker {
    grid-column: 2 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(10rem + 40px);
    position: relative;
}

.step {
    display: flex;
    font-weight: bolder;
    width: 250px;
}

.progress-marker:after {
    content: '';
    display: block;
    width: 3px;
    background: #fff;
    height: calc(50% - 10rem);
    position: absolute;
    top: calc(50% - 5rem + 40px);
    left: calc(50% - 105px);
    transform: translateX(-50%);
}

.progress-marker:before {
    content: '';
    display: block;
    width: 3px;
    height: calc(50% + 40px);
    position: absolute;
    top: calc(-10rem - 40px);
    /* transform-origin: bottom bottom; */
    left: calc(50% - 105px);
    transform: translateX(-50%);
    
}

.progress-marker:before, .progress-marker:after {
    background: #fff;
}

.progress-marker:nth-child(1)::before {
    display: none;
}

.progress-marker:nth-child(7)::after {
    display: none;
}

.progress-marker:nth-child(1)::after {
    background: rgba(246,149,30,1);
}

.progress-marker:nth-child(3)::before { 
    background: linear-gradient(302deg, rgba(70,83,130,1) 22%, rgba(246,149,30,1) 78%);
}

.progress-marker:nth-child(3)::after { 
    background: rgba(70,83,130,1)
}

.progress-marker:nth-child(5)::before { 
    background: rgba(70,83,130,1)
}

.progress-marker:nth-child(5)::after { 
    background: rgba(70,83,130,1)
}

.progress-marker:nth-child(7)::before { 
    background: linear-gradient(180deg, rgba(70,83,130,1) 22%, rgba(70,83,130,1) 25%, rgba(246,149,30,1) 100%);
}

.step-label {
    color: white;
    font-size: 18pt;
    padding-left: 15px;
    padding-top: 2px;
}

.cards {
    grid-column: 6 / span 6;
}

.card {
    margin-bottom: 2rem;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 24px #282F48;
    min-height: 450px;
}

.card-body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.card-title {
    font-size: 20pt;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    margin: 40px 0;
}

.card-text {
    font-weight: light;
    font-size: 12pt;
    padding-bottom: 80px;
}

.card-text small {
    color: var(--tpp-purple);
}

.arrow {
    margin: 5rem 47.5%;
    display: block;
}

.test-cases {
    grid-column: span 2;
}

.test-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-bottom: 1px var(--tpp-purple);
    margin: 50px;
}

.test-grid-data:nth-child(even) {
    background: #fff9f1;
}

.table {
    --bs-table-striped-bg: #fff9f1;
  }

.table tbody,
.table tr,
.table td,
.table th {
border: none !important;
} 

.table  td,
.table th {
padding: 20px;
}

.table-header {
    font-weight: bold;
}

.test-grid .route {
    grid-column: span 4;
    padding: 8px;
    margin-top: 5px;
}

.test-grid .data {
    grid-column: span 6;
    padding: 20px;
}

.thank-you {
    border-top: 1px solid var(--tpp-purple);
    margin: 20px auto;
    padding: 20px 0;
    color: var(--tpp-purple);
    text-align: center;
    max-width: 200px;
}

.arrow {
    cursor: pointer;
    transition: all 0.2s ease;
}

.arrow:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 550px) {
    .header-logo-container {
        grid-column: 10;
    }

    .logo {
        height: 100px;
        width: 100px;
        object-fit: fill; 
    }

    .header-line {
        margin-top: 70px;
        width: 150px;
    }

    .page-title {
        grid-column: span 12;
    }

    .content-container {
        padding: 5vw;
    }

    .progress-marker {
        grid-column: 2 / span 10;
    }

    .cards {
        grid-column: span 12;
    }

    .card {
        padding: 0;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    .progress-marker {
        grid-column: 2 / span 10;
        padding-top: 50px;
    }

    .cards {
        grid-column: 2 / span 10;
    }

    .card-body {
        margin-top: 20px;
    }

    .logo {
        height: 30%;
        object-position: 0 45%;
    }

    .header-line {
        margin-top: 50px;
        width: 100px;
    }

}

@media screen and (max-width: 1400px) {
    .card-body {
        display: block;
        padding: 0 50px;
    }

    .header-logo-container {
        grid-column: span 5;
    }

    .test-grid .route {
        grid-column: span 10;
    }

    .test-grid .data {
        grid-column: 2 / span 10;
        margin-bottom: 20px;
    }

    .table-header {
        display: none;
    }

    .test-grid .gr {
        background: none;
    }

}

@media screen and (max-width: 960px) {
    .progress-marker {
        padding-bottom: 10px;
    }

    .progress-marker:before, .progress-marker:after {
        display: none;
    }

    .step {
        justify-content: center;
    }

    .arrow {
        margin: 2rem 47.5%;
    }

    .table  td,
    .table th {
    padding: 10px 5px;
    }

    .table th {
        font-size: 12px;
    }
}